<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style>
        .gradient {
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(63,81,181,1) 0%, rgba(200,173,254,1) 100%);
        }
    </style>
</head>
<body>
    <div id="app">
        <v-app id="inspire">
            <v-navigation-drawer v-model="drawer" app>
                <v-list dense>
                    <v-list-item link>
                        <v-list-item-action>
                            <v-icon>mdi-home</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Home</v-list-item-title>
                        </v-list-item-content>
                </v-list>
            </v-navigation-drawer>

            <v-app-bar app color="indigo" dark>
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                <v-toolbar-title>Guest Book</v-toolbar-title>
            </v-app-bar>
            {% verbatim %}
            <v-main>
                <v-container>
                    <v-row justify="center">
                        <v-col lg="5">
                            <div class="text-h4 text-left">
                                All Reviews
                            </div>
                        </v-col>
                        <v-col class="text-right" lg="5">
                            <v-btn
                             fab dark small right 
                             color="success"
                             @click.stop="dialog = true"
                            >
                                <v-icon dark>mdi-plus</v-icon>
                            </v-btn>
                            <v-dialog v-model="dialog" persistent max-width="600px">
                                <v-card>
                                    <v-card-title class="headline">Add new review</v-card-title>
                            
                                    <v-card-text>
                                        <v-form ref="form" v-model="valid" :lazy-validation="lazy">
                                            <v-text-field v-model="username" :counter="32" :rules="usernameRules" label="Username" required>
                                            </v-text-field>
                                            <v-textarea v-model="text" label="Text" counter maxlength="512" full-width single-line :rules="textRules">
                                            </v-textarea>
                                        </v-form>
                                    </v-card-text>
                            
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                            
                                        <v-btn color="secondary" text @click="dialog = false">
                                            cancel
                                        </v-btn>
                            
                                        <v-btn
                                          color="success darken-1"
                                          @click="dialog = false"
                                          :disabled="!valid"
                                        >
                                            submit
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-col>
                    </v-row>
                    <v-row justify="center" no-gutters>
                        <v-col lg="10">
                            <v-divider></v-divider>
                        </v-col>
                    </v-row>
                    <v-row 
                      class="mt-3" 
                      justify="center"
                      v-for="review in reviews"
                    >
                        <v-col lg="10">
                            <v-card class="mx-auto">
                                <v-img
                                  v-if="review.image"
                                  height="300px" 
                                  :src='review.image'
                                 
                                ></v-img>
                                <div v-else  class="gradient" style="height: 300px;"></div>
                    
                                <v-card-title>{{ review.username }}</v-card-title>
                    
                                <v-card-text class="text--primary">
                                    {{ review.text }}
                                </v-card-text>
                                <v-card-subtitle class="text-right pt-0">
                                    {{ review.created_at_humanized }}
                                </v-card-subtitle>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
            {% endverbatim %}
            <v-footer color="indigo" app>
                <span class="white--text">&copy; 2020</span>
            </v-footer>
        </v-app>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        props: {
            source: String,
        },

        data: () => ({
            drawer: null,
            dialog: false,
            valid: true,
            username: '',
            usernameRules: [
                v => !!v || 'Username is required',
                v => (v && v.length <= 32) || 'Username must be less than 32 characters',
                v => (v && v.length >= 3) || 'Username must be more than 3 characters'
            ],
            text: '',
            textRules: [
                v => !!v || 'Text is required',
                v => (v && v.length >= 16) || 'Text must be more than 16 characters',
                v => (v && v.length <= 512) || 'Text must be less than 512 characters'
            ],
            lazy: false,
            reviews: []
        }),
        methods: {
            validate() {
                this.$refs.form.validate();
            },
            getReviews() {
                axios
                    .get('/api/reviews/')
                    .then(response => (this.reviews = response.data));
            }
        },
        mounted() {
            this.getReviews();
        }
    })
</script>
</html>